<div class="container">
  <div class="row mb-3">
    <div class="col-md-12 mt-3">
        <h2>Task Details</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-end">    
      <label for="memberID" class="form-label">Member ID: *</label>     
    </div>
    <div class="col-md-8">    
      <input type="text" name="memberID" id="memberID" class="" [(ngModel)]="memberID" placeholder="Member ID" autocomplete="off" required>      
      <button class="btn btn-primary" (click)="viewTaskViaAPI()">View Task</button>
    </div>
  </div>
  <div *ngIf="viewTaskClicked">
    <div class="row" *ngIf="!memberFound">
        <div class="col-md-12 mt-3">
            <h5>Team member not found, please try another ID. You may look up the member ID in the Fetch Team section.</h5>
        </div>
    </div>
    <div class="row" *ngIf="memberFound">
        <div class="col-md-12 mt-3" *ngIf="taskFound">
            <h5>Member found! Displaying task details below for {{ memberDetails?.memberName }}:</h5>
            <p>Task Name: {{ memberDetails?.task?.taskName || 'N/A' }}</p>
            <p>Deliverables: {{ memberDetails?.task?.deliverables || 'N/A' }}</p>
            <p>Task Start Date: {{ memberDetails?.task?.taskStartDate ? memberDetails?.task?.taskStartDate.day + '-' + memberDetails?.task?.taskStartDate.month + '-' + memberDetails?.task?.taskStartDate.year : 'N/A' }}</p>
            <p>Task End Date: {{ memberDetails?.task?.taskEndDate ? memberDetails?.task?.taskEndDate.day + '-' + memberDetails?.task?.taskEndDate.month + '-' + memberDetails?.task?.taskEndDate.year : 'N/A' }}</p>
            <p>Project Start Date: {{ memberDetails?.projectStartDate.day }}-{{ memberDetails?.projectStartDate.month }}-{{ memberDetails?.projectStartDate.year }}</p>
            <p>Project End Date: {{ memberDetails?.projectEndDate.day }}-{{ memberDetails?.projectEndDate.month }}-{{ memberDetails?.projectEndDate.year }}</p>
            <p>Allocation Percentage: {{ memberDetails?.allocationPercentage }}%</p>
        </div>
        <div class="col-md-12 mt-3" *ngIf="!taskFound">
            <h5>Member found but no task assigned yet.</h5>            
        </div>
    </div>
  </div>
</div>